
html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1 {
    margin: 0;
    padding: 0;
}

textarea {
  resize: none;
}

input[type="file"] {
  display: none;
}

.flex {
  display: -webkit-box;     
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;   
  display: flex; 
}

.inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: space-between;
}

/* HEADER CLASS */
.header-container {
  width: 100%;
  background: #E5E5E5;
  padding: 2rem;
}

.header-container .title {
  font-weight: 500;
  font-size: 3.2rem;
}

/* ------------ */

/* MAIN CSS */
.main-container {
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.main-container .form-container .action-container {
  margin: 10px;
}

.main-container .form-container .action-container button{
  outline: none;
  border: none;
  text-decoration: underline;
  background: transparent;
  color: #888;
  cursor: pointer;
  margin: 0 10px;
}

.main-container .charts-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container .charts-container .chart{
  height: 600px;
  padding: 5px;
  width: 100%;
  overflow: auto;
}

.main-container .charts-container .chart svg{
  overflow: visible;
}
/* -------------- */


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
